@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-brand: 5 150 105;
        --color-brand-light: 16 185 129;
        --color-brand-dark: 4 120 87;
        --sidebar-width: 256px;
        --sidebar-collapsed-width: 72px;
        --topbar-height: 64px;
    }
}

@layer components {
    .page-enter-active,
    .page-leave-active {
        transition: opacity 0.15s ease;
    }
    .page-enter-from,
    .page-leave-to {
        opacity: 0;
    }
}
